<%= form_for [@user, @item] do |f| %>
   <%= form_group_tag(@item.errors[:name]) do %>
     <%= f.label :name %>
     <%= f.text_field :name, class:'form-control', placeholder: "Enter name" %>
   <% end %>
    <div>
      <%= f.submit "Save", class: 'btn btn-success' %>
      <% end %>
    </div>
